<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
        <style type="text/css">
            .short-screenshot {
                height: 200px;
                width: 200px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="row page-header">
                <h1>List of screenshots for <%= domain %> </h1>
            </div>
            <div class="row">
                <!-- <%= directories.length %> -->
                <div class="col-lg-2">
                    <div class="panel">
                        <div class="panel-heading">Screenshots:</div>
                        <ul class="list-group list-group-flush">
                            <% directories.keys.sort.each do |dir| %>
                                <li class="list-group-item"><a href="#<%=dir%>"><%=dir%></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-10">
                    <% directories.to_a.sort.each do |dir, sizes| %>
                        <div class="row">
                            <a name="<%= dir %>"></a>
                            <h2><%= dir %></h2>
                        </div>
                        <% sizes.to_a.sort.each do |size, files| %>
                            <div class="row">
                                <h3 class="col-lg-1 text-muted"><%=size%>px</h3>
                                <% files[:variants].each do |file| %>
                                    <div class="col-lg-3">
                                        <a href="<%=file[:filename]%>">
                                            <img class="short-screenshot img-thumbnail" src="<%=file[:thumb]%>">
                                        </a>
                                        <p class="text-center"><%=file[:name]%></p>
                                    </div>
                                <% end %>
                                <div class="col-lg-3">
                                    <% if files[:diff] %>
                                        <a href="<%=files[:diff][:filename]%>">
                                            <img class="short-screenshot img-thumbnail" src="<%=files[:diff][:thumb]%>">
                                        </a>
                                    <% end %>
                                    <p class="text-center">diff</p>
                                    <p class="text-center text-muted"><%=files[:data]%> bytes</p>

                                </div>
                            </div>
                        <% end %>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>