<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.cycle/3.03/jquery.cycle.all.min.js"></script>
  <style type="text/css">
    .short-screenshot {
      max-width: 200px;
    }
    .page-header {
      padding-top: 9px;
      margin: 0;
    }
    .page-header h1 {
      margin: 0;
      font-size: 20px;
    }
    h2 {
      font-size: 20px;
      text-align: center;
      color: #9a9a9a;
    }
    .col-lg-2 {
      padding: 0;
    }
    .slideshow-container {
      padding-top: 40px;
      margin-top: 20px;
    }
    .slideshow {
      height: 620px;
      margin: 20px 0;
    }
    .next,
    .prev {
      bottom: -45px;
      height: 60px;
      line-height: 0;
      font-size: 100px;
      position: absolute;
      padding: 20px 180px;
      cursor: pointer;
      border: 2px solid #eee;
    }
    .next.top,
    .prev.top {
      top: 0;
    }
    .next {
      background-color: #e7e7e7;
      right: 70px;
    }
    .prev {
      background-color: #e7e7e7;
      left: 40px;
    }

    .prev span:before,
    .next span:before {
      font-size: 35px;
      padding: 10px;
      display: block;
      font-family: "FontAwesome";
    }

    .prev span:before {
      content:"\f0d9";
    }
    .next span:before {
      content:"\f0da";
    }
    .slide {
      background-color: #FFF;
    }
    h3.text-muted {
      margin-right: 10px;
      margin-left: 40px;
    }
    .difference {
      clear: both;
      font-size: 20px;
    }
    .threshold {
      font-weight: bold;
      color: #F00;
    }
    .list-group-item.checked a:after {
      content:"\f00c";
      margin-left: 5px;
      font-family: "FontAwesome";
      color: #23e343;
      float: right;
    }
    .list-group-item a:after {
      content:"\f00c";
      margin-left: 5px;
      font-family: "FontAwesome";
      color: #eae6e6;
      float: right;
    }
    .checked a {
      color: #000;
    }
    .current {
      background-color: #e7e7e7;
    }
  </style>
  <script type="text/javascript">
    $(function() {
      $('.slideshow').cycle({
        fx:     'cover',
        prev:   '.prev',
        next:   '.next', 
        before: function (curr, next, opts) {
          $('.current').removeClass('current');
          var path = $(next).find('.path').attr('name');
          $.each($('.list-group .list-group-item a'), function() {
            if ($(this).attr('href').indexOf(path) > -1) {
              $(this).parent().addClass('checked');
              $(this).parent().addClass('current');
            }
          })
        },
        timeout: 0 
      });

      $('.list-group .list-group-item').unbind().on('click', function(){
        $('.slideshow').cycle($(this).index());
      })
    })
  </script>
</head>
<body>
  <div class="container">
    <div class="row page-header">
      <h1>List of screenshots for <%= location %> <small>taken <%= Time.now.strftime('%Y/%m/%d %H:%M:%S') %></small></h1>
    </div>
    <div class="row">
      <div class="col-lg-2">
        <div class="panel">
          <div class="panel-heading">Pages:</div>
          <ul class="list-group list-group-flush">
            <% directories.keys.each do |dir| %>
            <li class="list-group-item"><a href="#<%=path%><%=dir%>">/<%=dir.gsub('__', '/')%></a></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-lg-10 slideshow-container">
        <div class="prev top"><span></span></div>
        <div class="next top"><span></span></div>
        <div class="prev"><span></span></div>
        <div class="slideshow">
          <% directories.each do |dir, sizes| %>
          <% sizes.to_a.sort.each do |size, files| %>
          <div class="row slide">
            <div class="col-sm-12">
              <a class="path" name="<%= dir %>"></a>
              <% if threshold.nil? %>
              <h2>/<%= dir.gsub('__', '/') %></h2>
              <% else %>
              <% if files[:data] > threshold %>
              <h2>/<%= dir.gsub('__', '/') %></h2>
              <% else %>
              <h2>/<%= dir.gsub('__', '/') %></h2>
              <% end %>
              <% end %>
            </div>
            <h3 class="col-lg-1 text-muted"><%=size%>px</h3>
            <% files[:variants].each do |file| %>
            <div class="col-lg-3">
              <a href="<%=file[:filename]%>">
                <img class="short-screenshot img-thumbnail" src="<%=path%><%=file[:thumb]%>">
              </a>
              <p class="text-center"><%=file[:name]%></p>
            </div>
            <% end %>
            <div class="col-lg-3">
              <% if files[:diff] %>
              <a href="<%=files[:diff][:filename]%>">
                <img class="short-screenshot img-thumbnail" src="<%=path%><%=files[:diff][:thumb]%>">
              </a>
              <% end %>
              <p class="text-center">diff</p>
            </div>
            <div class="difference">
              <% if threshold.nil? %>
              <p class="text-center text-muted"><%=files[:data]%> % different</p>
              <% else %>
              <% if files[:data] > threshold %>
              <p class="text-center text-muted threshold"><%=files[:data]%> % different</p>
              <% else %>
              <p class="text-center text-muted"><%=files[:data]%> % different</p>
              <% end %>
              <% end %>
            </div>
          </div>
          <% end %>
          <% end %>
        </div>
        <div class="next"><span></span></div>
      </div>
    </div>
  </div>
</body>
</html>
